<div class="col-xl-4 col-lg-5 col-md-5">
    <div class="card profile_card  new_card">
        <div class="card-header">
            <div class="media-body">
                <p style="margin-bottom: 0px;" class="btn btn-success">Account name</p>
                <span class="badge darken-3 md">Balance:<span>1000</span></span>
                <span class="badge darken-3 md">Staking:<span>1000</span></span>
                <p class="mb-0">CPU : 28%</p>
            </div>
        </div>
        <div class="card-body">
            <div class="media">
                <div class="media-body" task="account">
                    <div class="row">
                        <div class="col-6 ntf ">ACCOUNT</div>
                        <div class="col-6 ntf">Energy: <span class="badge bg-danger p-2" style="padding: 5px !important;">20/300</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4 ntf">Token:</div>
                        <div class="col-4 ntf right">Ingame:</div>
                        <div class="col-4 ntf right">Daily Cost/Mine:</div>
                    </div>
                    <div class="row">
                        <div class="col-6 ntf">ROI:30 day</div>
                        <div class="col-3 ntf center">
                            <p class="mb-1"><span><i class="fa fa-phone me-2 text-primary"></i></span>192000</p>
                        </div>
                        <div class="col-3 ntf right">2914 ￦</div>
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="media-body" meta="12134" task="mining">
                    <div class="row">
                        <div class="col-6 ntf ">MINING</div>
                        <div class="col-6 ntf">Daily Profit: <span class="badge bg-danger p-2" style="padding: 5px !important;">1118 W</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4 ntf">CHAINSAW</div>
                        <div class="col-3 ntf">00:14:39</div>
                        <div class="col-3 ntf right">720 / 900</div>
                        <div class="col-2 ntf right">166 ￦</div>
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="media-body" task="mining">
                    <div class="row">
                        <div class="col-6 ntf ">Raising COW</div>
                        <div class="col-6 ntf">Daily Cost: <span class="badge bg-danger p-2" style="padding: 5px !important;">1118 W</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 ntf">
                            <p>Cow<span>(0/6) 01:01:01</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="media-body" task="mining">
                    <div class="row">
                        <div class="col-6 ntf ">CROPS</div>
                        <div class="col-6 ntf">Daily Cost: <span class="badge bg-danger p-2" style="padding: 5px !important;">1118 W</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 ntf">
                            <p>Cow<span>(0/6) 01:01:01</span></p>
                        </div>
                        <div class="col-6 ntf">
                            <p>Cow<span>(0/6) 01:01:01</span></p>
                        </div>
                        <div class="col-6 ntf">
                            <p>Cow<span>(0/6) 01:01:01</span></p>
                        </div>
                        <div class="col-6 ntf">
                            <p>Cow<span>(0/6) 01:01:01</span></p>
                        </div>
                        <div class="col-6 ntf">
                            <p>Cow<span>(0/6) 01:01:01</span></p>
                        </div>
                        <div class="col-6 ntf">
                            <p>Cow<span>(0/6) 01:01:01</span></p>
                        </div>
                        <div class="col-6 ntf">
                            <p>Cow<span>(0/6) 01:01:01</span></p>
                        </div>
                        <div class="col-6 ntf">
                            <p>Cow<span>(0/6) 01:01:01</span></p>
                        </div>
                        <div class="col-6 ntf">
                            <p>Cow<span>(0/6) 01:01:01</span></p>
                        </div>
                        <div class="col-6 ntf">
                            <p>Cow<span>(0/6) 01:01:01</span></p>
                        </div>
                        <div class="col-6 ntf">
                            <p>Cow<span>(0/6) 01:01:01</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>